body {
    font-family: "Meiryo UI", Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    width: 250px;
    line-height: 1.6;
}

h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

label {
    font-size: 16px;
}

input {
    font-size: 16px;
    padding: 5px;
    width: 50%;
    margin-top: 5px;
}

button {
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#status {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}